{% extends 'index.html' %}
{% load crispy_forms_tags %}
{% block head %}
    <title>Add post</title>
{% endblock %}
{% block content %}
    <br><br>
    <div class="container">
        <br>
        <div class="form-group">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}
                <input type="file" name="images">
                <button class="button btn-default" type="submit">Add</button>
            </form>
        </div>
    </div>
{% endblock %}